<div class="left_content">
    <div class="title_box">Quản lý tài khoản</div>
    <ul class="left_menu">
        <li class="profile">
            <a href="/account">
                <span class="glyphicon-user" aria-hidden="true" style="color: red"></span>Thông tin tài khoản</a>
        </li>
        <li class="profile_active">
            <a href="#">
                <span class="glyphicon-shopping-cart" aria-hidden="true" style="color: red"></span>Quản lý đơn hàng</a>
        </li>
    </ul>
</div>
<!-- end of left content -->
<div class="content-right">
    <h1 class="order-title">Đơn hàng của tôi</h1>
    <div class="order-board">
        <table class="table-custom">
            <thead>
                <tr>
                    <th style="width: 85px">Mã đơn hàng</th>
                    <th style="width: 70px">Ngày mua</th>
                    <th style="width: 450px">Sản phẩm</th>
                    <th style="width: 75px">Tổng tiền</th>
                    <th style="width: 100px">Trạng thái
                        <br> đơn hàng</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="">000005</a>
                    </td>
                    <td>26/04/2018</td>
                    <td>Canon M6 và 1 sản phẩm khác</td>
                    <td>32.150.000&nbsp;₫</td>
                    <td>
                        <span class="order-status">Chưa giao hàng</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">000003</a>
                    </td>
                    <td>01/04/2018</td>
                    <td>Canon 77D</td>
                    <td>21.290.000&nbsp;₫</td>
                    <td>
                        <span class="order-status">Giao hàng thành công</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">000001</a>
                    </td>
                    <td>20/03/2018</td>
                    <td>Canon M6</td>
                    <td>16.100.000&nbsp;₫</td>
                    <td>
                        <span class="order-status">Giao hàng thành công</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>