{{#section 'title'}} Trang chủ > Giỏ hàng {{/section}} {{#section 'js'}}
<script type="text/javascript">
		$('.removeItem').on('click', function() {
		    var id = $(this).data('proid');
		    $('#txtProId_R').val(id);
		    $('#frmRemoveItem').submit();
		});
</script> {{/section}}
<div class="cart_form">
    <div class="cart_name">Giỏ hàng</div>
    <div class="row" style="background-color: #dad0d0">
        <div class="col-xs-8 cart-col-1">
            <form>
                <div class="row cart-item">
                    <div class="col-xs-3 img-custom" style="float: left;">
                        <p>
                            <a href="details.html">
                                <img src="../images/Mirr/Canon_m6.jpg" alt="" style="width: 140px; height: 120px">
                            </a>
                        </p>
                    </div>
                    <div class="col-right">
                        <div class="info-item">
                            <p class="name">
                                <a href="details.html">Máy ảnh Canon M6</a>
                            </p>
                            <p class="seller-by">
                                Cung cấp bởi
                                <a href="index.html" style="color: blue">Thế giới máy ảnh</a>
                            </p>
                            <p class="action">
                                <button type="button" class="btn-form" style="width: 45px;height: 30px">Xóa</button>
                            </p>
                        </div>
                        <div class="price">
                            <p class="price-font">16.050.000&nbsp;₫</p>
                            <p class="price-font2">20.700.000&nbsp;₫</p>
                            <p class="sale">-22%</p>
                        </div>
                        <div class="block-num">
                            <button class="btn" type="button">-</button>
                            <input type="number" name="number" min="1" value="1" class="number">
                            <button class="btn" type="button">+</button>
                        </div>
                    </div>
                </div>
                <div class="row cart-item">
                    <div class="col-xs-3 img-custom" style="float: left;">
                        <p>
                            <a href="details.html">
                                <img src="../images/Mirr/Canon_m6.jpg" alt="" style="width: 140px; height: 120px">
                            </a>
                        </p>
                    </div>
                    <div class="col-right">
                        <div class="info-item">
                            <p class="name">
                                <a href="details.html">Máy ảnh Canon M6</a>
                            </p>
                            <p class="seller-by">
                                Cung cấp bởi
                                <a href="index.html" style="color: blue">Thế giới máy ảnh</a>
                            </p>
                            <p class="action">
                                <button type="button" class="btn-form" style="width: 45px;height: 30px">Xóa</button>
                                <button type="button" class="btn-form" style="width: 100px;height: 30px">Yêu thích</button>
                            </p>
                        </div>
                        <div class="price">
                            <p class="price-font">16.050.000&nbsp;₫</p>
                            <p class="price-font2">20.700.000&nbsp;₫</p>
                            <p class="sale">-22%</p>
                        </div>
                        <div class="block-num">
                            <input type="number" name="number" min="1" value="1" class="number">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-4 cart-col-2">
            <div id="right" class="box-top" style="">
                <div class="row-box">
                    <div class="box-style">
                        <p>
                            <span>Tạm tính:</span>
                            <strong style="float: right;" id="sum">32.100.000&nbsp;₫</strong>
                        </p>
                    </div>
                    <div class="box-style">
                        <p>
                            <span>Phí giao hàng:</span>
                            <strong style="float: right;" id="sum">50.000&nbsp;₫</strong>
                        </p>
                    </div>
                    <div class="box-style">
                        <div class="">
                            <span style="margin-top: 5px; display: inline-block">Thành tiền:</span>
                            <strong style="float: right; color: #fe3834; font-size: 22px;">32.150.000&nbsp;₫ </strong>
                        </div>
                    </div>
                    <button type="button" class="btn btn-check" onclick="pay()">Tiến hành đặt hàng
                    </button>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" style="font-size: 13px">Mã giảm giá / Quà tặng</h4>
                            </div>
                            <div id="collapse" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="input-group">
                                        <input id="coupon" placeholder="Nhập ở đây.." type="text" class="form-control" style="border-radius: 4px; height: 20px; border: 1px solid #ddd; padding-left: 5px">
                                        <button class="btn btn-default btn-form" type="button" style="background-color: #fdd835; width: 70px;height: 25px">Đồng ý</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>