<div class="center_content">
    <div class="center_title_bar">Đăng Nhập</div>
    <div class="prod_box_big">
        <div class="top_prod_box_big"></div>
        <div class="center_prod_box_big">
            <form action="" method="POST">
                <div class="contact_form">
                    <div class="form_row">
                        <label class="contact">
                            <strong>Tên người dùng:</strong>
                        </label>
                        <input name="username" type="text" class="contact_input" />
                    </div>
                    <div class="form_row">
                        <label class="contact">
                            <strong>
                                Mật khẩu:
                            </strong>
                        </label>
                        <input name="password" class="contact_input" type="password" />
                    </div>
                    <button type="submit">Đăng Nhập</button>
                </div>
            </form>
        </div>
        <div class="bottom_prod_box_big"></div>
    </div>
</div>