<div class="center_content">
    <div class="form_row">
        <label class="contact">
            <strong>Nhập dữ liệu</strong>
        </label>
        <input type="text" class="contact_input" />
    </div>
    <form action="">
        <br />
        <br />
        <br />
        <input type="radio" name="NSX" value="NSX"> Nhà sản xuất
        <br>
        <input type="radio" name="LSP" value="LSP"> Loại sản phẩm
        <br>
    </form>
    <br />
    <a href="resultSearch.html">
        <button type="button">Tìm kiếm</button>
    </a>
</div>