<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Thế giới máy ảnh</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <link rel="stylesheet" type="text/css" href="../profile.css">
    <link rel="stylesheet" type="text/css" href="../order.css">
    <link rel="stylesheet" type="text/css" href="../cart.css"> 
    {{{_sections.css}}}
    <!--[if IE 6]>
        <link rel="stylesheet" type="text/css" href="iecss.css" />
        <![endif]-->
    <script type="text/javascript" src="../js/boxOver.js"></script>
    <!-- bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="main_container">
        <div class="top_bar">
            <div class="top_search">
                <div class="search_text">
                    <a href="#">Tìm kiếm nâng cao</a>
                </div>
                <input type="text" class="search_input" name="search" />
                <input type="image" src="../images/search.gif" class="search_bt" />
            </div>
        </div>
        <div id="header">
            <div id="logo">
                <a href="#">
                    <img src="../images/logo.png" alt="" border="0" width="237" height="140" />
                </a>
            </div>
            <div class="oferte_content">
                <div class="top_divider">
                    <img src="../images/header_divider.png" alt="" width="1" height="164" />
                </div>
                <div class="oferta">
                    <div class="oferta_content">
                        <img name="header-img" src="../images/Canon_m6.jpg" width="94" height="92" alt="" border="0" class="oferta_img" />
                        <div class="oferta_details">
                            <div class="oferta_title">Canon_m6</div>
                            <div class="oferta_text"> Canon EOS M6 là một máy ảnh kỹ thuật số không gương lật 24MP APS-C nhỏ gọn với các nút điều khiển
                                quay số kép và giao diện màn hình cảm ứng. </div>
                        </div>
                        <a href="details.html" class="details">Chi tiết</a>
                    </div>
                </div>
                <div class="top_divider">
                    <img src="../images/header_divider.png" alt="" width="1" height="164" />
                </div>
            </div>
            <!-- end of oferte_content-->
        </div>
        <div id="main_content">
            <div id="menu_tab">
                <div class="left_menu_corner"></div>
                <ul class="menu">
                    <li>
                        <a href="/" class="nav1"> Trang chủ</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/search" class="nav2">Tìm kiếm</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/account" class="nav4">Tài khoản của tôi</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" class="nav4">Đăng xuất</a>
                    </li>
                    <li class="divider"></li>
                </ul>
                <div class="right_menu_corner"></div>
            </div>
            <!-- end of menu tab -->
            <div class="crumb_navigation"> Dẫn đường:
                <span class="current">
                    {{{_sections.title}}}
                </span>
            </div>
            {{{body}}}
        </div>
        <!-- end of main content -->
        <!-- End of right content -->
        <div class="footer">
            <div class="left_footer">
                <img src="../images/footer_logo.png" alt="" width="170" height="49" /> </div>
            <div class="center_footer"> Bản quyền năm 2018
                <br />
                <a href="http://csscreme.com">
                    <img src="../images/csscreme.jpg" alt="csscreme" border="0" />
                </a>
                <br />
                <a href="http://csscreme.com">
                    <img src="../images/csscreme.jpg" alt="csscreme" border="0" />
                </a>
                <br />
                <img src="../images/payment.gif" alt="" /> </div>
            <div class="right_footer">
                <a href="#">Trang chủ</a>
                <a href="#">Về chúng tôi</a>
                <a href="#">sitemap</a>
                <a href="#">rss</a>
                <a href="contact.html">Liên hệ chúng tôi</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../jquery-3.1.1.min.js"></script> {{{_sections.js}}}
</body>

</html>