<div class="center_content">
    <div class="center_title_bar">Đăng kí</div>
    {{#if login_ok}}
    <div class="center_title_bar">Đăng kí thành công</div>
    {{/if}} {{#if login_false}}
    <div class="center_title_bar">Đăng kí không thành công</div>
    {{/if}}
    <div class="prod_box_big">
        <div class="top_prod_box_big"></div>
        <div class="center_prod_box_big">
            <form action="" method="POST">
                <div class="contact_form">
                    <div class="form_row">
                        <label class="contact">
                            <strong>Họ tên:</strong>
                        </label>
                        <input name="fullname" type="text" class="contact_input" pattern="[A-Z a-z]{5,}" title="Tên phải có tối thiểu 5 kí tự và không có kí tự số hoặc đặc biệt" required/>
                    </div>
                    <div class="form_row">
                        <label class="contact">
                            <strong>Số điện thoại liên hệ:</strong>
                        </label>
                        <input name="phone" type="tel" class="contact_input"  pattern="[0-9]{9,}" title="Số điện thoại phải có ít nhất 9 chữ số" required/>
                    </div>
                    <div class="form_row">
                        <label class="contact">
                            <strong>Địa chỉ liên hệ:</strong>
                        </label>
                        <input name="address" type="text" class="contact_input" required/>
                    </div>
                    <div class="form_row">
                        <label class="contact">
                            <strong>Tên người dùng:</strong>
                        </label>
                        <input name="username" type="text" class="contact_input" pattern="[A-Za-z0-9]{5,}"  title="Tên người dùng là chuỗi từ a-z hoặc A-Z 0-9 it nhất 5 kí tự và không có kí tự đặc biệt hay khoảng trắng" required/>
                    </div>
                    <div class="form_row">
                        <label class="contact">
                            <strong>
                                Mật khẩu:
                            </strong>
                        </label>
                        <input name="password" class="contact_input" type="password" pattern="[A-Za-z0-9]{5,}" title="Mật khẩu là chuỗi từ a-z hoặc A-Z 0-9 it nhất 5 kí tự và không có kí tự đặc biệt hay khoảng trắng" required/>
                    </div>
                    <div class="form_row">
                        <label class="contact">
                            <strong>
                                Nhập lại mật khẩu:
                            </strong>
                        </label>
                        <input name="confirmpassword" class="contact_input" type="password" type="password" pattern="[A-Za-z0-9]{5,}" title="Mật khẩu là chuỗi từ a-z hoặc A-Z 0-9 it nhất 5 kí tự và không có kí tự đặc biệt hay khoảng trắng" required/>
                    </div>
                    <div class="form_row">
                        <label class="contact">
                            <strong>
                                Email:
                            </strong>
                        </label>
                        <input name="email" type="text" class="contact_input" required/>
                    </div>
                    <div style="height:50px; clear:both">
                        <button type="submit" class="button button-submit">Đăng kí</button>                        
                    </div>
                </div>
            </form>
        </div>
        <div class="bottom_prod_box_big"></div>
    </div>
</div>