<div class="center_content2">
    <div class="center_title_bar">Xem kĩ thông tin trước khi sửa</div>
    {{#if _ok}}
    <div class="center_title_bar">Sửa thành công</div>
    {{/if}} {{#if _false}}
    <div class="center_title_bar">Sửa không thành công</div>
    {{/if}}
    <div class="prod_box_big">
        <div class="top_prod_box_big"></div>
        <div class="center_prod_box_big">
            <form action="" method="POST">
                <div class="contact_form">
                    <div >
                        <input name="OrderID" type="text" hidden class="contact_input" value="{{OrderID}}"/>
                    </div>
                    <div class="form_row">
                        <label class="contact">
                            <strong>Tình trạng đơn hàng:</strong>
                        </label>
                        <input name="Status" type="text" class="contact_input" value="{{Status}}"/>
                    </div>
                    <div style="height:50px; clear:both">
                        <button type="submit" class="button button-submit">Lưu chỉnh sửa</button>                        
                    </div>
                </div>
            </form>
        </div>
        <div class="bottom_prod_box_big"></div>
    </div>
</div>
