.cart_form {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    border-radius: 5px solid #ddd;
    background-color: #fff;
}

.cart_name {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 30px;
    margin: 5px 0 0 0;
    background: none no-repeat center #3B999F;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    line-height: 30px;
}

.cart-col-1 {
    float: left;
    width: 73%;
    margin-left: 0;
    margin-right: 0;
}

.cart-col-2 {
    width: 25%;
    padding-left: 0;
    float: right;
}

.cart-item {
    padding: 50px 20px;
    margin-bottom: 45px;
    border-color: purple;
}

.cart-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cart-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.img-custom {
    width: 140px!important;
    height: 120px;
}

.info-item {
    width: 290px;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 15px;
    float: left;
}

.col-right {
    float: left;
    width: 500px;
}

.name {
    font-size: 15px;
    height: 10px;
    margin-bottom: 5px;
    line-height: 20px;
    font-weight: 700;
    padding-top: 0;
}

.name a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #2498ff;
}

.seller-by {
    font-size: 13px;
    margin-bottom: 12px;
}

.btn-form {
    border: none;
    border-radius: 4px;
    color: #4a4a4a;
    font-size: 14px;
    background-color: lightblue;
}

.price {
    float: left;
    width: 150px;
    padding-right: 15px;
}

.price-font {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
    padding-top: 10px;
}

.price-font2 {
    font-size: 12px;
    margin-bottom: 8px;
    text-decoration: line-through;
    color: #a2a2a2;
}

.sale {
    background: #ff9601;
    font-size: 13px;
    color: #fff;
    padding: 3px 6px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    text-transform: uppercase;
}

.block-num {
    width: 30px;
    float: right;
    padding-top: 10px;
}

.number {
    width: 40px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #ddd;
    text-align: center;
}

.box-top {
    position: absolute;
    width: 250px;
}

.row-box {
    width: 100%;
    clear: both;
}

.box-style {
    background-color: #fff;
    padding: 12px 20px 15px 19px;
    font-size: 15px;
    margin-top: 1px;
}

.box-style:first-child {
    border-radius: 4px 4px 0 0;
}

.btn-check {
    width: 100px;
    height: 30px;
    color: #fff;
    border-radius: 4px;
    background-color: #ea000f;
    border-color: #c2000c;
    width: 100%
}
.address-class{
    font-size: 14px;
    background-color: #fff;
    padding: 12px 20px 15px 19px;
}

.address-edit{
    margin-left: 50px;
}
.address-name, .address-info, .address-postcode, .address-phone{
    margin-top: 5px;
} 